<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>607294559860-08fpcbstl63ttbdq141ibqjh7i7lnhij.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.607294559860-08fpcbstl63ttbdq141ibqjh7i7lnhij</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>607294559860-uoe9rl7qarr442j5k56ckrrb9urtpjka.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDNXItUu7Bi0E3jg5h0UH9CSKHz5YF9zQo</string>
	<key>GCM_SENDER_ID</key>
	<string>607294559860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.healthTracker</string>
	<key>PROJECT_ID</key>
	<string>health-tracker-84761</string>
	<key>STORAGE_BUCKET</key>
	<string>health-tracker-84761.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:607294559860:ios:5c690a81dbf3656b89e321</string>
</dict>
</plist>